127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost6 localhost6.localdomain6
{{ DRIP }}    dockerreg.training.local
{{ ELKIP }}   elk.training.local
{{ UDP }}   udeploy.training.local
{{ DOCKERREG }}   dockerreg.training.local
{{ ITRS }}    itrs.training.local
{{ DEV1 }}  dev1.training.local
{{ DEV2 }}  dev2.training.local
{{ DEV3 }}  dev3.training.local
{{ TESTSRV }}   appsrvuat.training.local
{{ PRODSRV }}   appsrvprod.training.local
{{ FEED }}  feed.training.local
