#!/bin/bash

# chkconfig: 35 99 99
# description: Netprobe script
# Number of netprobes to start
export NETPROBES="{{ NPCount }}"

# 2nd argument would be specific port to stop
if (( $# > 1 ))
then
	echo "Stopping netprobe $2"
	npPort=$2
else
	echo "Stopping all netprobes"
	npPort=0
fi


function start() {
	cd /opt/itrs/netprobe
	x=1
	if (( $npPort > 0 ))
	then
		if (( $npPort < 10 ))
		then
			./netprobe.linux_64 "{{ NPName }}" -port 5590${npPort} -nopassword >/var/log/netprobe5590${npPort}.out 2>/var/log/netprobe5590${npPort}.err &
		else
			./netprobe.linux_64 "{{ NPName }}" -port 559${npPort} -nopassword >/var/log/netprobe5590${npPort}.out 2>/var/log/netprobe5590${npPort}.err &
		fi
	else
		while (( $x <= $NETPROBES ))
		do
			if (( $x < 10 ))
			then
				./netprobe.linux_64 "{{ NPName }}" -port 5590${x} -nopassword >/var/log/netprobe5590${x}.out 2>/var/log/netprobe5590${x}.err &
			else
				./netprobe.linux_64 "{{ NPName }}" -port 559${x} -nopassword >/var/log/netprobe5590${x}.out 2>/var/log/netprobe5590${x}.err &
			fi
			(( x=$x + 1 ))
		done
	fi
}

function stop() {
	if [[ -z $2 ]]
	then
		kill $(ps -ef | grep -i netprobe.linux | grep -v grep | awk '{print $2}') 2>/dev/null
	else
		if (( $npPort < 10 ))
		then
			kill $(ps -ef | grep -i netprobe.linux | grep 5590${npPort} | grep -v grep | awk '{print $2}') 2>/dev/null
		else
			kill $(ps -ef | grep -i netprobe.linux | grep 559${npPort} | grep -v grep | awk '{print $2}') 2>/dev/null
		fi
	fi
}

case $1 in
        'start')
		start $npPort
                ;;
        'stop')
		stop $npPort
                ;;
        'restart')
		stop $npPort
		start $npPort
                ;;
        'status')
                ps -ef | grep -i netprobe.linux | grep -v grep
                ;;
esac
