127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost6 localhost6.localdomain6
{{ DRIP }}    dockerreg.training.local
{{ ELKIP }}   elk.training.local
{{ AMQ }}   activemq.training.local
{{ UDP }}   udeploy.training.local
{{ MYSQL }}   mysql.training.local
{{ ORACLE }}  oracle.training.local
{{ DOCKERREG }}   dockerreg.training.local
{{ ITRS }}    itrs.training.local
{{ TCIP }}    teamcity.training.local
{{ TESTSRV }}   testserver.training.local
{{ PRODSRV }}   prodserver.training.local
{{ FEED }}  feed.training.local
{{ JENKINS }}   jenkins.training.local
