#!/bin/bash

# chkconfig: 35 99 99
# description: Netprobe script

case $1 in
        'start')
                cd /opt/itrs/netprobe
                ./netprobe.linux_64 {{ NPNAME }} -port 55901 -nopassword >/var/log/netprobe.out 2>/var/log/netprobe.err &
                ./netprobe.linux_64 {{ NPNAME }} -port 55902 -nopassword >/var/log/netprobe2.out 2>/var/log/netprobe2.err &
                ;;
        'stop')
                kill $(ps -ef | grep -i netprobe.linux | grep -v grep | awk '{print $2}')
                ;;
        'restart')
                kill $(ps -ef | grep -i netprobe.linux | grep -v grep | awk '{print $2}')
                cd /opt/itrs/netprobe
                ./netprobe.linux_64 {{ NPNAME }} -port 55901 -nopassword >/var/log/netprobe.out 2>/var/log/netprobe.err &
                cd /opt/itrs/netprobe2
                ./netprobe.linux_64 {{ NPNAME }} -port 55902 -nopassword >/var/log/netprobe.out 2>/var/log/netprobe.err &
                ;;
        'status')
                ps -ef | grep -i netprobe.linux | grep -v grep
                ;;
esac
