input {
  file {
    path => "/var/log/messages"
    tags => ["messages","{{ DNSNAME }}"]
  }

  file {
    path => "/var/log/netprobe*"
    tags => ["netprobe","{{ DNSNAME }}"]
  }

  file {
    path => "/var/log/pods/*/*.log"
    tags => ["openshift","{{ DNSNAME }}"]
  }
}
